<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Configuration</title>
    <link rel="stylesheet" type="text/css" href="css/configuration.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a class="active" href="configuration.html">Configurer les balises</a></li>
            <li><a href="#">Plan général des locaux</a>
            <ul class="sous">
                <li><a  href="plan.html">Afficher le plan et le taux d'occupation</a></li>
                <li><a href="itineraire.html">Rechercher un itinéraire</a></li>
            </ul></li>
            <li><a href="rechercherPersonne.html">Rechercher une personne</a></li>
        </ul>
    </nav>
    <h1>Configurer les balises</h1>
    <br/>
    <a th:href="@{/tableau/show}" href="formulaireAjoutSalle.html"><input type="button" value="Ajouter un plan" id="AjoutPlan"/></a>
    <br/><br/>
    <input type="button" value="Ajouter une salle" id="AjoutSalle" />
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutVille.html"><input type="button" value="Ajouter une ville" id="AjoutVille"/></a>
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutBalise.html"><input type="button" value="Ajouter une balise" id="AjoutBalise"/></a>
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutPersonne.html"><input type="button" value="Ajouter une personne" id="AjoutPersonne"/></a>
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutTypePersonne.html"><input type="button" value="Ajouter un TP" id="AjouTP"/></a>
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutBatiment.html"><input type="button" value="Ajouter un bâtiment" id="AjoutBatiment"/></a>
<br/><br/>
    <a th:href="@{add}" href="formulaireAjoutTelephone.html"><input type="button" value="Ajouter un téléphone" id="AjoutTelephone"/></a>
</body>

</html>
