<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Localisation Indoor</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/location.ico" />
    <link rel="stylesheet" type="text/css" href="../static/css/accueil.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="ecole3D.js"></script>

</head>

<body>
    <nav>
        <ul>
            <li><a class="active" href="index.html">Accueil</a></li>
            <li><a href="configuration.html">Configurer les balises</a></li>
            <li><a href="#">Plan général des locaux</a>
            <ul class="sous">
                <li><a  href="plan.html">Afficher le plan et le taux d'occupation</a></li>
                <li><a href="itineraire.html">Rechercher un itinéraire</a></li>
            </ul></li>
            <li><a href="rechercherPersonne.html">Rechercher une personne</a></li>
        </ul>
    </nav>


    <h1>Ajout de Personne</h1>

    <form th:object="${telephone}" method="POST" th:action="@{save]}">
        <label for="num">Numéro:</label>
        <input type="text" th:field="*{num}" placeholder="Nom"/>
        <label for="personne">Appartient à :</label>
        <select for="personne" th:field="*{personne}">
          <option th:each="a: ${personne}" th:value="${a.id}" th:text="${a.nom}"></option>
        </select>
        <input type="submit" value="Enregistrer" />
    </form>


    <div class="footer-basic">
        <footer>
            <div class="social">
                <div class="social">
                    <a href="https://www.instagram.com/isis_ingenieur/"><i class="icon ion-social-instagram"></i></a>
                    <a href="https://twitter.com/isis_ingenieur"><i class="icon ion-social-twitter"></i></a>
                    <a href="https://www.facebook.com/isis.castres/"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://github.com/Victor-Maintenant/Ptut---Localisation-Indoor"><i class="icon ion-social-github"></i></a>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="accueil.html">Accueil</a></li>
                    <li class="list-inline-item"><a href="https://isis.univ-jfc.fr/">ISIS</a></li>
                    <li class="list-inline-item"><a href="https://www.gouvernement.fr/info-coronavirus">Actualités Coronavirus</a></li>
                </ul>
        </footer>
        </div>

        <div class="main">
        </div>

</body>

</html>
