body {
    text-align: center;
    background-image: linear-gradient(rgb(210, 235, 250), rgb(184, 226, 250));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
td, th {
	border: 1px solid #2266c075;
	padding: 8px;
	text-align:center;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
    background-color: #0195f8;
	color: white;
}

table{
	margin:auto;
}

a{
	color:#0195f8;
}

a:hover{
	color:#016bb3;
	cursor:pointer;
}
