<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des bâtiments</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styleTableaux.css}" href="../static/css/styleTableaux.css"/>    
    </head>
    <body>
        <h1>Les bâtiments</h1>
        <!--/* On appelle l'URL 'add' du contôleur */-->
        <a th:href="@{add}" href="formulaireAjoutBatiment.html">Ajouter un bâtiment</a>
        <!--/* On affiche un éventuel message d'erreur */-->
        <h3 th:text="${message}">Message de succès ou d'erreur</h3>   
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Salles</th>
                    <th>Plans</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b: ${batiments}">
                    <td th:text="${b.nom}"></td>
                    <td th:text="${b.adresse}"></td>
                    <td th:text="${b.ville.nom}"></td>
                    <td><a th:href="@{delete(id=${b.id_Batiment})}">Supprimer</a></td>
                </tr>
            </tbody>
        </table>
        <hr/>
        <a th:href="@{/configuration}" href="configuration.html">Retour au menu</a>
        <hr/>
    </body>
</html>
