<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Liste des villes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/map.ico" /> 
</head>

<body>
    <h1>Les villes</h1>
    <a th:href="@{add}" href="formulaireAjoutVille.html">Ajouter une ville</a>
    <br/><br/>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code Postal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="v: ${villes}">
                <td th:text="${v.nom}"></td>
                <td th:text="${v.code_Postal}"></td>
                <td><a th:href="@{delete(id=${v.id_Ville})}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/configuration}" href="configuration.html">Retour au menu</a>
</body>
</html>