<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des types de personne</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styleTableaux.css}" href="../static/css/styleTableaux.css"/>    
    </head>
    <body>
        <h1>Les types de personne</h1>
        <a th:href="@{add}" href="formulaireAjoutTypePersonne.html">Ajouter un type de personne</a>
        <table>
            <br/><br/>
            <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t: ${types}">
                    <td th:text="${t.libelle}"></td>
                    <td><a th:href="@{delete(id=${t.id_Type})}">Supprimer</a></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <a th:href="@{/configuration}" href="configuration.html">Retour au menu</a>
    </body>
</html>
