<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Liste des balises</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/map.ico" />
</head>

<body>
    <h1>Les balises</h1>
    <a th:href="@{add}" href="formulaireAjoutVille.html">Ajouter une balise</a>
    <br/><br/>
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Salle</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="b: ${balises}">
                <td th:text="${b.num}"></td>
                <td th:text="${b.salle.num}"></td>
                <td><a th:href="@{delete(id=${b.id_Balise})}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/configuration}" href="configuration.html">Retour au menu</a>
</body>
</html>