<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Liste des villes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styletableaux.css}" href="../static/css/styletableaux.css" />
    <!--on fait appel à un fichier CSS-->
</head>

<body>
    <h1>Les villes</h1>
    <a th:href="@{add}" href="formulaireAjoutPlan.html">Ajouter un plan</a>
    <br/><br/>
    <table>
        <thead>
            <tr>
                <th>Plan</th>
                <th>Bâtiment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p: ${plans}">
                <td th:text="${p.plan}"></td>
                <td th:text="${p.batiment}"></td>
                <td><a th:href="@{delete(id=${v.id_Plan})}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{/configuration}" href="configuration.html">Retour au menu</a>
</body>
</html>