<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Ajouter une ville</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/location.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/formulaires.css}" href="../static/css/formulaires.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="ecole3D.js"></script>

</head>

<body>
    <nav>
        <ul>
            <li><a class="active" th:href="@{/accueil}" href="accueil.html">Accueil</a></li>
            <li><a th:href="@{/configuration}" href="configuration.html">Configuration application</a></li>
            <li><a href="#">Plan général des locaux</a>
                <ul class="sous">
                    <li><a th:href="@{/plan}" href="plan.html">Afficher le plan et le taux d'occupation</a></li>
                    <li><a th:href="@{/itineraire}" href="itineraire.html">Rechercher un itinéraire</a></li>
                    <li><a th:href="@{/planDonnees}" href="planDonnees.html">Affichage du plan avec les Données</a></li>
                </ul>
            </li>
            <li><a th:href="@{/rechercherPersonne}" href="rechercherPersonne.html">Rechercher une personne</a></li>
        </ul>
    </nav>
    <br />
    <h1>Ajouter une ville</h1>
    <br />
    <form th:object="${ville}" method="POST" th:action="@{save}">
        <label for="nom">Nom:</label>
        <input type="text" th:field="*{nom}" placeholder="Nom" />
        <br/><br/>
        <label for="code_Postal">Code Postal:</label>
        <input type="number" th:field="*{code_Postal}" placeholder="81100" />
        <br/><br/>
        <input type="submit" value="Enregistrer" />
    </form>

    <div class="main">
    </div>

</body>

</html>