<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Rechercher une personne</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/recherchePersonne.css}" href="../static/css/rechercherPersonne.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/map.ico" />

</head>

<body>
    <nav>
        <ul>
            <li><a class="active" th:href="@{/accueil}" href="accueil.html">Accueil</a></li>
            <li><a th:href="@{/configuration}" href="configuration.html">Configuration application</a></li>
            <li><a href="#">Plan général des locaux</a>
            <ul class="sous">
                <li><a th:href="@{/plan}" href="plan.html">Afficher le plan et le taux d'occupation</a></li>
                <li><a th:href="@{/itineraire}" href="itineraire.html">Rechercher un itinéraire</a></li>
            </ul></li>
            <li><a th:href="@{/rechercherPersonne}" href="rechercherPersonne.html">Rechercher une personne</a></li>
        </ul>
    </nav>
    <h1>Rechercher une personne</h1>
    <div>
        <p>Sélectionner le type de personne que vous recherchez.</p>
        <input type="button" value="Personnel soignant" id="PSoignant" />
        </br>
        </br>
        <input type="button" value="Personnel technique" id="PTechnique" />
        </br>
        </br>
        <input type="button" value="Personnel administratif" id="PAdministratif" />
        </br>
        </br>
    </div>
    <form>
        <label for="profession">Profession :</label>
        <select name="profession" id="profession">
        </select>
    </form>
        </br>
        </br>
    <form th:object="${personne}" method="POST" th:action="@{affichage}">
        <label for="nom">Nom:</label>
        <input list="listeType" type="text" th:field="*{nom}" placeholder="Nom"/>
        <datalist id="listeType">
            <option th:each="n: ${noms}" th:value="${n}"/>
        </datalist>    
        </br>
        </br>
        <label for="prenom">Prenom:</label>
        <input type="text" th:field="*{prenom}" placeholder="Prenom"/>
        </br>
        </br><!-- comment -->
        <input type="submit" value="Chercher" />
    </form>
    <script src="javascript/rechercherPersonne.js"></script>
</body>

</html>